.theme-dark {
    --color-bg-primary: #{-background};
    --color-bg-secondary: #{lighten(-background, 5%)};
    --color-text-primary: #{-text};
    --color-text-secondary: #{darken(-text, 20%)};
    --color-accent: #{-neon-primary};
    --color-accent-alt: #{-neon-secondary};
    
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}
